<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">

	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<a href="#" class="navbar-toggle" data-toggle="collapse" data-target="#p2pu-menu">
			<i class="fa fa-bars"></i>
		</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="container">
		<div class="collapse navbar-collapse" id="p2pu-menu">
			<ul class="nav navbar-nav">
				<li>
					<a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a>
				</li>
				{% for module in site.data.course.modules %}
					{% assign first_post = site.categories[module]|reverse|first %}
					<li class="dropdown {% if page.categories[1] == module %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
						<a href="{{ site.baseurl }}{{ first_post.url }}"
						   class="dropdown-item">
							{{ module }}
						</a>
					</li>
				{% endfor %}
				<li>
					<a href="https://join.slack.com/t/pm617pythonfords/shared_invite/enQtODkyNTM5MDc1ODEyLTU1Y2YzNzBmMWE1YzdjMTRiZTgxYjViYTIzMTRhZDgxZGQxMTkyMWRhZTkzOTk0NzIwM2E1NThmOTI1Yzc2YWI">Join the Discussion!?</a>
				</li>
			</ul>
      {% if site.github.owner_name == 'gracecarrillo' %}
			<ul class="p2pu-logo">
				<li><a class="p2pu-tab" href="https://www.kaplanpathways.com/colleges/glasgow-international-college/"><img src="{{ site.baseurl }}/img/kaplan.png" alt="{{ site.title }}" height="75" width="75" /></a></li>
			</ul>
      {% endif %}
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!-- End Navigation -->
